/a.py
/adventure_game_erfm.py
/areas.py
/bb.py
/books.txt
/boolean.py
/clever_story_Evelin_Rubi_Flores_Mallma.py
/comments.py
/decimal.py
/files.py
/files1.py
/firstweb.py
/for.py
/formatingstrings.py
/function.exe.py
/functions1.py
/functions_name.py
/functions_parameters.py
/grades.py
/guess.py
/hello.py
/home.py
/homework 23 04 2023.py
/homework.py
/hr_system.txt
/human_resources.py
/if.py
/library.py
/life-expectancy.csv
/list.py
/listnumeros
/list_exercises.py
/list_indexes.py
/loan.py
/loop.py
/loop1.py
/meals.py
/meals.py 29 04 2023.py
/meal_price_calculator_02_Evelin_Rubi_Flores_Mallma.py
/memory.py
/multiple.py
/names_and_numbers.py
/nest.py
/new.py
/num.py
/numero.py
/prac.py
/practice.py
/project 02 Meal Price Calculator Evelin Flores Mallma.py
/project4.wpEvelin_Flores_Mallma.py
/Project_02_Meal_Price_Calculator_Evelin_Flores_Mallma.py
/Project_03_adventure_game_evelin_flores_mallma.py
/project_05_shopping_cart_Evelin_Flores_Mallma.py
/project_milestone_evelin_rubi_flores_mallma.py
/puzzle.py
/puzzle1.py
/redond.py
/shoping_cart_Evelin_Flores_Mallma.py
/statement.py
/strings.py
/test1.py
/tire_volume.py
/try.py
/w04_project_Evelin_Rubi_Flores_Mallma.py